-@messages.each do |message|
  %p= "#{message.user.email} says: #{message.text}"
#message_window
= form_with scope: :message, url: message_index_path, id: :chat_form do | form |
  %p
    = form.label 'Send Message'
    %br/
    = form.text_field :text
    = form.hidden_field :chat_id, value: @chat.id, id: :chat_id
    = form.hidden_field :user_id, value: current_user.id
  %p
    = form.submit "Send"