.main
  .chats
    ="Chat with: #{@chat_partner.email}"
    -@messages.each do |message|
      -if message.user.email == current_user.email
        %p.send-message= message.text
      - else
        %p.receive-message= message.text
    #message_window.message-container
    = form_with scope: :message, url: message_index_path, id: :chat_form do | form |
      = form.hidden_field :chat_id, value: @chat.id, id: :chat_id
      = form.hidden_field :current_user_email, value: current_user.email, id: :current_user_email

      %p
        = form.label 'Send Message'
        %br/
        = form.text_field :text
      %p
        = form.submit "Send"